packages/SpecFlow.2.2.1/tools/specflow.exe.config
packages/SpecFlow.2.2.1/tools/specflow.exe
packages/SpecFlow.2.2.1/tools/plugincompability.config
packages/SpecFlow.2.2.1/tools/app.config
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.tasks
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.targets
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.dll
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.Utils.dll
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.Reporting.dll
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.Parser.dll
packages/SpecFlow.2.2.1/tools/TechTalk.SpecFlow.Generator.dll
packages/SpecFlow.2.2.1/tools/Newtonsoft.Json.dll
packages/SpecFlow.2.2.1/tools/Microsoft.Build.Utilities.v3.5.dll
packages/SpecFlow.2.2.1/tools/Gherkin.dll
packages/SpecFlow.2.2.1/lib/net45/TechTalk.SpecFlow.dll
packages/SpecFlow.2.2.1/content/App.config.transform
packages/SpecFlow.2.2.1/changelog.txt
packages/SpecFlow.2.2.1/SpecFlow.2.2.1.nupkg
packages/SpecFlow.2.2.1/LICENSE.txt
packages/Selenium.WebDriver.3.9.1/lib/netstandard2.0/WebDriver.xml
packages/Selenium.WebDriver.3.9.1/lib/netstandard2.0/WebDriver.dll
packages/Selenium.WebDriver.3.9.1/lib/net45/WebDriver.xml
packages/Selenium.WebDriver.3.9.1/lib/net45/WebDriver.dll
packages/Selenium.WebDriver.3.9.1/lib/net40/WebDriver.xml
packages/Selenium.WebDriver.3.9.1/lib/net40/WebDriver.dll
packages/Selenium.WebDriver.3.9.1/lib/net35/WebDriver.xml
packages/Selenium.WebDriver.3.9.1/lib/net35/WebDriver.dll
packages/Selenium.WebDriver.3.9.1/Selenium.WebDriver.3.9.1.nupkg
packages/Selenium.Support.3.0.0/lib/net40/WebDriver.Support.xml
packages/Selenium.Support.3.0.0/lib/net40/WebDriver.Support.dll
packages/Selenium.Support.3.0.0/lib/net35/WebDriver.Support.xml
packages/Selenium.Support.3.0.0/lib/net35/WebDriver.Support.dll
packages/Selenium.Support.3.0.0/Selenium.Support.3.0.0.nupkg
packages/Selenium.Chrome.WebDriver.2.35/driver/chromedriver.exe
packages/Selenium.Chrome.WebDriver.2.35/build/Selenium.Chrome.WebDriver.targets
packages/Selenium.Chrome.WebDriver.2.35/Selenium.Chrome.WebDriver.2.35.nupkg
packages/NuGet.Core.2.12.0/lib/net40-Client/NuGet.Core.dll
packages/NuGet.Core.2.12.0/NuGet.Core.2.12.0.nupkg
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/NUnit.3.0.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
packages/NUnit.3.0.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.dll
packages/NUnit.3.0.0/lib/net45/nunit.framework.xml
packages/NUnit.3.0.0/lib/net45/nunit.framework.dll
packages/NUnit.3.0.0/lib/net40/nunit.framework.xml
packages/NUnit.3.0.0/lib/net40/nunit.framework.dll
packages/NUnit.3.0.0/lib/net20/nunit.framework.xml
packages/NUnit.3.0.0/lib/net20/nunit.framework.dll
packages/NUnit.3.0.0/lib/dotnet/nunit.framework.xml
packages/NUnit.3.0.0/lib/dotnet/nunit.framework.dll
packages/NUnit.3.0.0/NUnit.3.0.0.nupkg
packages/NUnit.3.0.0/NOTICES.txt
packages/NUnit.3.0.0/LICENSE.txt
packages/NUnit.3.0.0/CHANGES.txt
packages/Microsoft.Web.Xdt.2.1.1/lib/net40/Microsoft.Web.XmlTransform.dll
packages/Microsoft.Web.Xdt.2.1.1/Microsoft.Web.Xdt.2.1.1.nupkg
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
packages/MSTest.TestFramework.1.2.0/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
packages/MSTest.TestFramework.1.2.0/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
packages/MSTest.TestFramework.1.2.0/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
packages/MSTest.TestFramework.1.2.0/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
packages/MSTest.TestFramework.1.2.0/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
packages/MSTest.TestFramework.1.2.0/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
packages/MSTest.TestFramework.1.2.0/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
packages/MSTest.TestFramework.1.2.0/MSTest.TestFramework.1.2.0.nupkg
TestResults/SpecflowTest_Default_2018-02-13T200800.log
TestResults/SpecflowTest_Default_2018-02-13T200800.html
TestResults/SpecflowTest_Default_2018-02-13T200450.log
TestResults/SpecflowTest_Default_2018-02-13T200450.html
TestResults/SpecflowTest_Default_2018-02-13T195758.log
TestResults/SpecflowTest_Default_2018-02-13T195615.log
TestResults/SpecflowTest_Default_2018-02-13T195615.html
TestResults/SpecflowTest_Default_2018-02-13T194958.log
TestResults/SpecflowTest_Default_2018-02-13T194958.html
TestResults/SpecflowTest_Default_2018-02-13T194436.log
TestResults/SpecflowTest_Default_2018-02-13T194436.html
TestResults/SpecflowTest_Default_2018-02-13T194342.log
TestResults/SpecflowTest_Default_2018-02-13T194342.html
TestResults/SpecflowTest_Default_2018-02-13T193933.log
TestResults/SpecflowTest_Default_2018-02-13T193933.html
TestResults/SpecflowTest_Default_2018-02-13T193503.log
TestResults/SpecflowTest_Default_2018-02-13T193503.html
TestResults/SpecflowTest_Default_2018-02-13T193107.log
TestResults/SpecflowTest_Default_2018-02-13T193107.html
TestResults/SpecflowTest_Default_2018-02-13T190916.log
TestResults/SpecflowTest_Default_2018-02-13T190916.html
TestResults/SpecflowTest_Default_2018-02-13T181602.log
TestResults/SpecflowTest_Default_2018-02-13T181602.html
TestResults/SpecflowTest_Default_2018-02-13T181117.log
TestResults/SpecflowTest_Default_2018-02-13T181117.html
TestResults/SpecflowTest_Default_2018-02-13T180647.log
TestResults/SpecflowTest_Default_2018-02-13T180647.html
TestResults/Deploy_ushakashyap 2018-02-16 19_43_49/In/._.DS_Store
TestResults/Deploy_ushakashyap 2018-02-16 19_43_49/In/.DS_Store
TestResults/Deploy_ushakashyap 2018-02-16 19_43_49/._.DS_Store
TestResults/Deploy_ushakashyap 2018-02-16 19_43_49/.DS_Store
TestResults/._.DS_Store
TestResults/.DS_Store
SpecflowTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SpecflowTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SpecflowTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SpecflowTest/obj/Debug/TempPE/Features.Valtech.feature.cs.dll
SpecflowTest/obj/Debug/SpecflowTest.pdb
SpecflowTest/obj/Debug/SpecflowTest.dll
SpecflowTest/obj/Debug/SpecflowTest.csprojResolveAssemblyReference.cache
SpecflowTest/obj/Debug/SpecflowTest.csproj.FileListAbsolute.txt
SpecflowTest/obj/Debug/SpecflowTest.csproj.CoreCompileInputs.cache
SpecflowTest/obj/Debug/SpecflowTest.csproj.CopyComplete
SpecflowTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SpecflowTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SpecflowTest/bin/Debug/nunit.framework.xml
SpecflowTest/bin/Debug/nunit.framework.dll
SpecflowTest/bin/Debug/chromedriver.exe
SpecflowTest/bin/Debug/WebDriver.xml
SpecflowTest/bin/Debug/WebDriver.dll
SpecflowTest/bin/Debug/WebDriver.Support.xml
SpecflowTest/bin/Debug/WebDriver.Support.dll
SpecflowTest/bin/Debug/TechTalk.SpecFlow.dll
SpecflowTest/bin/Debug/SpecflowTest.pdb
SpecflowTest/bin/Debug/SpecflowTest.dll.config
SpecflowTest/bin/Debug/SpecflowTest.dll
SpecflowTest/bin/Debug/NuGet.Core.dll
SpecflowTest/bin/Debug/Newtonsoft.Json.xml
SpecflowTest/bin/Debug/Newtonsoft.Json.dll
SpecflowTest/bin/Debug/Microsoft.Web.XmlTransform.dll
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
SpecflowTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
SpecflowTest/bin/Debug/ICSharpCode.SharpZipLib.dll
SpecflowTest/bin/Debug/Equip.pdb
SpecflowTest/bin/Debug/Equip.dll
SpecflowTest/._.DS_Store
SpecflowTest/.DS_Store
.vs/SpecflowTest/v15/Server/sqlite3/storage.ide
.vs/SpecflowTest/v15/Server/sqlite3/db.lock
.vs/SpecflowTest/v15/.suo
.vs/SpecflowTest/v15/._.suo
._SpecflowTest.sln
._.DS_Store
SpecflowTest.userprefs
.DS_Store
.vs/SpecflowTest/v15/Server/sqlite3/storage.ide-wal
.vs/SpecflowTest/v15/Server/sqlite3/storage.ide-shm
